<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
        <link rel="Stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> <h3>You successfully Insert</h3>
            </div>
            <a href="/" class="btn btn-outline-primary btn-link btn-lg">GO to Home Page</a>
            <a href="/register" class="btn btn-outline-success btn-link btn-lg">Go to New Register</a>
            <a href="/login" class="btn btn-outline-success btn-link btn-lg">
                Go to Login
            </a>
        </div>
    </body>
</html>
